:8000 {
	root * /site
	file_server

	handle /api/* {
		uri strip_prefix /api
		reverse_proxy http://localhost:8080 {
			header_up -X-Forwarded-Proto
			header_up -X-Forwarded-Protocol
		}
	}
	handle /* {
		try_files {path} /
	}
}